* {
    margin: 0;
}

.app {
    position: relative;
    border-bottom: 8px solid #222;
    background: 0 0;
    background-color: #222;
}

.backgrounds {
    background-color: black;
    margin-bottom: 8px;
}

.backgrounds img {
    width: 100%;
    opacity: 0.5;
    background-color: #222;
    margin-top: -140px;
}

.container {
    color: white;
    font-size: 3.125rem;
    line-height: normal;
    font-weight: 700;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    background-color: black;
}

.tv_0 {
    width: 483px;
    margin-right: 100px;
}

.tv {
    width: 530px;
    margin-bottom: 50px;
}

.tv_1 {
    margin-top: 110px;
}

.tv_2 {
    font-size: 1.625rem;
    font-weight: 400;
    margin-top: 30px;
}

.container1 {
    color: white;
    font-size: 3.125rem;
    line-height: normal;
    font-weight: 700;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    background-color: black;
}

.story {
    width: 500px;
    margin-right: 200px;
    margin-bottom: 50px;
}

.story_0 {
    width: 490px;

}

.story_1 {
    margin-top: 80px;
}

.story_2 {
    font-size: 1.625rem;
    font-weight: 400;
    margin-top: 30px;
}

.container2 {
    color: white;
    font-size: 3.125rem;
    line-height: normal;
    font-weight: 700;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    background-color: black;
}

.moniter {
    width: 500px;
    margin-top: 70px;
    margin-bottom: 50px;
}

.moniter_0 {
    width: 483px;
    margin-right: 100px;
}

.moniter_1 {
    margin-top: 110px;
}

.moniter_2 {
    font-size: 1.625rem;
    font-weight: 400;
    margin-top: 30px;
}

.container3 {
    color: white;
    font-size: 3.125rem;
    line-height: normal;
    font-weight: 700;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    background-color: black;
}

.kids {
    width: 500px;
    margin-right: 120px;
    margin-bottom: 50px;
}

.kids_0 {
    width: 490px;
}

.kids_1 {
    margin-top: 60px;
}

.kids_2 {
    font-size: 1.625rem;
    font-weight: 400;
    margin-top: 40px;
}

.que {
    width: 100%;
    background-color: black;
    text-align: center;
    margin-bottom: 8px;
}

.que_all {
    text-align: center;
    margin-bottom: 10px;
    background-color: black;
}

.que_0 {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 50px;
    color: white;
    height: 100px;
}

.que_1 {
    margin-bottom: 8px;
}
.que button {
    cursor: pointer;
    text-align: left;
    font-weight: 400;
    font-size: 25px;
    outline: none;
    border-radius: 2px;
    width: 850px;
    height: 73px;
    background-color: #222;
    border: 2px solid #222;
} 

.email_i {
    color: white;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-block-start: 5%;
    margin-bottom: 10px;
}

.email_0 {
    width: 100%;
    text-align: center;
    margin-block-start: 1%;
    margin-bottom: 8px;
}

.email_0 input {
    width: 20%;
    padding: 30px 50px 10px;
    border: none;
    font-size: 18px;
    outline: none;
}

.email_0 input:focus + label,
.email_0 input:valid + label {
    margin-top: -1px;
    margin-left: -15px;
    font-size: 13px;
    font-weight: 900;
    transition: all .3s ease;
}

.email_0 label {
    position: relative; left: -460px; top: 0;
    width: 79%;
    margin-bottom: 10px;
    color: #8c8c8c;
    text-align: center;
    font-size: 18px;
}

.email_0 button {
    background-color: #e50914;
    color: white;
    line-height: normal;
    padding: 7px 17px;
    font-weight: 400;
    font-size: 30px;
    border-radius: 1px;
    cursor: pointer;
    border: 2px solid #e50914;
    width: 230px;
    height: 63px;
}

.last {
    width: 100%;
    height: 500px;
    background-image: url(./witch.png);
}